<h2>Programming Books List!</h2>
<button (click)="this.isBookShown = !this.isBookShown">
    <!--Use ng container instead of spans to only show the value without the tag in compiled HTML-->
    <ng-container *ngIf="!this.isBookShown">Show Books</ng-container>
    <ng-container *ngIf="this.isBookShown">Hide Books</ng-container>
</button>

<br />
<br />
<span><input (input) = "onInput($any($event))"> <span>{{currentText1}}</span> </span>
<br />
<br />
<span><input [(ngModel)] = "currentText2"> <span>{{currentText2}}</span> </span>

<ul *ngIf = "isBookShown">
    <ng-container *ngFor="let book of books; let i = index">
       <app-book [book] = "book" [index]="i"></app-book> 
    </ng-container>
</ul>
